MONGODB_URI=mongodb+srv://jashwanth41_db_user:ealXYntU4Fs2ezkk@cluster0.nkifhqb.mongodb.net/?appName=cluster0
JWT_SECRET=dvjbhsdhjbsdvbukvikdbvkvkjzvbdkvguibwmvbvzsvlkvkjsdvbskvjhipvewhiuvbskdcvbsdvkbkjsd
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
